* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-decoration: none; */
  list-style: none;
}

body {
  background-image: url(/static/img/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  max-width: 100vw;
}

#header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(227, 217, 217, 0.089);
  backdrop-filter: blur(7px);
  padding: 7px 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
  z-index: 1000;
}

#header a {
  text-decoration: none;
  color: #f2f4f3;
}

.logo {
  font-size: 25px;
  font-family: cursive;
  font-weight: 700;
  font-style: italic;
}

.navbar {
  color: #f2f4f3;
  padding: 15px 45px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar li {
  position: relative;
  list-style: none;
}

.navbar a {
  color: #f2f4f3;
  font-size: 19px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s ease-in;
}

.navbar a:hover,
.navbar a.active {
  color: #f2f4f3;
  cursor: pointer;
}

.navbar li a.active::after,
.navbar a:hover::after {
  display: flex;
  content: "";
  width: 80%;
  height: 2px;
  position: absolute;
  bottom: -1px;
  background-color: #f2f4f3;
}

.ham {
  width: 30px;
}

.cross {
  width: 30px;
}

.sml-dev {
  display: none;
}

.form_sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  justify-content: center;
  margin-top: 30px;
}

form {
  border: black solid 2px;
  background-color: rgba(236, 229, 229, 0.174);
  color: #000000;
  font-family: cursive;
  font-size: 18px;
  font-weight: 600;
  /* gap: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

h1 {
  font-size: 52px;
  font-family: cursive;
  font-weight: 700;
  font-style: cursive;
}

.form-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}

label {
  color: black;
  font-size: 19px;
  font-weight: 600;
  font-family: cursive;
}

input[type="text"],
textarea {
  height: 30px;
  width: 300px;
}

textarea {
  height: 100px;
}

::placeholder {
  color: black;
  padding: 5px;
  font-family: cursive;
}

button[type="submit"] {
  background-color: #0009057d;
  color: #f2f4f3;
  width: 90px;
  font-size: 16px;
  font-weight: 550;
  padding: 3px 3px;
  border-radius: 20%;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in;
  align-items: center;
  justify-content: center;
}

button[type="submit"]:hover {
  background-color: rgba(0, 0, 0, 0.806);
  color: #f2f4f3;
  transform: scale(1.05);
}

@media (max-width: 770px) {
  .section-p1 {
    padding: 20px 40px;
  }

  .navbar {
    position: absolute;
    top: 0px;
    right: -250px;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 220px;
    background-color: rgba(103 83 83 / 87%);
    transition: all 0.3s ease-in;
  }

  .navbar li {
    margin-top: 100px;
  }

  .sml-dev {
    display: block;
    position: absolute;
    top: 12px;
    right: 23px;
  }

  .cross {
    display: none;
  }

  .show {
    display: flex;
    right: 0px;
  }
}
